VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_BOOKING_SERVICE_URL=http://localhost:3002
VITE_SAFETY_SERVICE_URL=http://localhost:3006
VITE_PAYMENT_SERVICE_URL=http://localhost:3003
VITE_GOOGLE_MAPS_API_KEY=
